.header-team{
    margin-top: 4rem;
    text-align: center;
}
.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: auto;
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.team-box h1{
    text-align: center;
    color: #1e72bc;
    font-size: 30px;
}
.team-box p{
    text-align: center;
    margin-top:10px ;
}

@media only screen and (max-width:960px) {

    .team{
        grid-template-columns: repeat(1, 1fr);
    }
}