.footer_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: auto;
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.footer_section .section1 {
    display: flex;
    align-items: start;
    
    gap: 20px;
    flex-direction: column;
}
.footer_section .section1 img {
    width: 140px;
    cursor: pointer;
}
.footer_section .section1 p {
    font-size: 0.9rem;
}
.footer_section .section2 {
    display: flex;
    align-items: start;
   
    gap: 20px;
    flex-direction: column;
}
.footer_section .section2 p {
    font-size: 0.9rem;
}
.footer_section .section2 span {
    font-weight: 600;
}
.footer_section .section3 {
    display: flex;
    align-items: start;
 
    gap: 40px;
    flex-direction: column;
}
.footer_section .section3 p {
    font-weight: 800;
}
.footer_section .section3 p i {
    margin-right: 0.4rem;
}
.footer_section .section4 {
    display: flex;
    align-items: start;
    
    gap: 20px;
    flex-direction: column;
}
.footer_section .section4 .blog_card {
    display: flex;
    align-items: start;
    
    gap: 10px;
    flex-direction: row;
}
.footer_section .section4 .blog_card img {
    width:80px;
}
.footer_section .section4 .blog_card span {
    font-weight: 800;
    font-size: 0.9rem;
}
.footer_section .section4 .blog_card p {
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #000;
}

@media only screen and (max-width:760px) {
    .footer_section {
        grid-template-columns: repeat(1, 1fr);
        
    }
}